<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include(`../modules/docs-header`) %>
  </head>

  <body>
    <div class="wrapper -<%- meta.page %><% if (meta.page === 'top') { %> -hasNewsTicker<% } %>" data-ebi-wrapper="<%- meta.page %>">
      <%- include(`../modules/c-header`); %>
      <main class="main" role="main">
        <% content(__append) %>
      </main>

      <% if (meta.requiredSeMapModals) { %>
        <%- include(`../modules/m-seMapModals.ejs`) %>
      <% } %>

      <%- include(`../modules/c-footer`); %>
    </div>
    <%- include(`../modules/c-loading`); %>
    <%- include(`../modules/docs-footer`) %>
  </body>
</html>
