<%_
  const meta = {
    page: 'archive',
  };
-%>
<%_ function content (__append) { -%>
  <div class="archive">
    <div class="archive__top -news">
      <header class="archive__news__header">
        <div class="-title">
          <span class="fontPanchang">NEWS</span>
        </div>
      </header>
    </div>
    <div class="archive__contents section__inner">
      <div class="newsList">
        <div class="newsList__list">
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">Porsche × Dai Tamura Special ART exhibition 田村大 スペシャルコラボレーション</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">PUMAｘPORSCHE 911ターボ 50Y ジャパンリミテッドエディション販売</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 Targa 4S Heritage Design Editionがポルシェスタジオ銀座で展示</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 に着想を得た「ポルシェデザイン・トローリーケース」とどこへ行く？</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">Porsche × Dai Tamura Special ART exhibition 田村大 スペシャルコラボレーション</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">PUMAｘPORSCHE 911ターボ 50Y ジャパンリミテッドエディション販売</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 Targa 4S Heritage Design Editionがポルシェスタジオ銀座で展示</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 に着想を得た「ポルシェデザイン・トローリーケース」とどこへ行く？</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">Porsche × Dai Tamura Special ART exhibition 田村大 スペシャルコラボレーション</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">PUMAｘPORSCHE 911ターボ 50Y ジャパンリミテッドエディション販売</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 Targa 4S Heritage Design Editionがポルシェスタジオ銀座で展示</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 に着想を得た「ポルシェデザイン・トローリーケース」とどこへ行く？</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">Porsche × Dai Tamura Special ART exhibition 田村大 スペシャルコラボレーション</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">PUMAｘPORSCHE 911ターボ 50Y ジャパンリミテッドエディション販売</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
          <div class="newsList__item">
            <a href="#TBD">
              <div class="-title">911 Targa 4S Heritage Design Editionがポルシェスタジオ銀座で展示</div>
              <time class="-date fontPanchang">2024/03/03</time>
              <div class="-i"><i><%- include(`${ejsRelativePath}modules/svg/icon-arrow-4.svg`) %></i></div>
            </a>
          </div>
        </div>
      </div>

      <div class="archive__pager pager">
        <div class="pager__nav -btn -prev">
          <a class="fontPanchang" href="#TBD">
            Prev
          </a>
        </div>
        <div class="pager__nav -link">
          <a class="fontPanchang" href="#TBD">1</a>
          <a class="-current fontPanchang" href="#TBD">2</a>
          <a class="fontPanchang" href="#TBD">3</a>
          <a class="fontPanchang" href="#TBD">4</a>
          <span>...</span>
          <a class="fontPanchang" href="#TBD">5</a>
        </div>
        <div class="pager__nav -btn -next">
          <a class="fontPanchang" href="#TBD">
            Next
          </a>
        </div>
      </div>
    </div>
      
    <%- include(`${ejsRelativePath}modules/m-categories.ejs`) %>

    <%- include(`${ejsRelativePath}modules/m-love.ejs`) %>
  </div>
<%_ }; -%>
<%- include(`${ejsRelativePath}layouts/default`, { meta, content }) %>