<%
if (!meta) {
  const meta = {};
}
const _title = 'TBD - title';
const _description = 'TBD - description';
// const _keywords = '';
const _ogTitle = '';
const _ogDescription = '';
const _meta = {
  title: meta.title || _title || '',
  description: meta.description || _description || '',
  // keywords: meta.keywords || _keywords || '',
  type: meta.type || 'website',
  url: meta.url || `${siteRoot}`,
  image: meta.image || `${domain}${assetsPath}img/ogp.jpg`,
  ogTitle: meta.ogTitle || meta.title || _ogTitle || _title,
  ogDescription: meta.ogDescription || meta.description || _ogDescription || _description,
  siteName: _title,
};
%>
<%# <link rel="canonical" href="<\%= siteRoot %\>"> %>

<title><%= _meta.title %></title>
<meta name="description" content="<%= _meta.description %>">
<meta property="og:title" content="<%= _meta.ogTitle %>">
<meta property="og:type" content="<%= _meta.type %>">
<meta property="og:url" content="<%= _meta.url %>">
<meta property="og:image" content="<%= _meta.image %>">
<meta property="og:site_name" content="<%= _meta.siteName %>">
<meta property="og:description" content="<%= _meta.ogDescription %>">
<meta property="og:locale" content="ja_JP">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= _meta.title %>">
<meta name="twitter:description" content="<%= _meta.description %>">
<meta name="twitter:image" content="<%= _meta.image %>">

<link rel="icon" href="<%= assetsPath %>icons/favicon.ico">
<link rel="apple-touch-icon" href="<%= assetsPath %>icons/apple-touch-icon.png">
<link rel="manifest" href="<%= assetsPath %>icons/manifest.webmanifest">