<%_
  const meta = {
    page: 'article',
  };
-%>
<%_ function content (__append) { -%>
  <article class="article">
    <header class="article__header">
      <div class="article__header__img">
        <div class="-bg" style="background-image: url(/assets/img/_dummy/article-kv-1.jpg);"></div>
        <div class="-img">
          <img src="/assets/img/_dummy/article-kv-1.jpg" alt="">
        </div>
      </div>
      <div class="article__header__inner">
        <div class="article__header__category">
          REVIEWS
        </div>
        <h1 class="article__header__title">
          ポルシェ911タルガ4（4WD/7AT）<br>
          似通ったモデル内で際立つ孤高のオシャレさ
        </h1>
        <div class="article__header__info">
          <div class="-upper">
            <dl class="article__info -created">
              <dt>Created</dt>
              <dd>2020.00.00</dd>
            </dl>
            <dl class="article__info -updated">
              <dt>Updated</dt>
              <dd>2020.00.00</dd>
            </dl>
          </div>
          <div class="-lower">
            <dl class="article__info -tags">
              <dt>Tags</dt>
              <dd>
                <a href="#TBD">#REVIEWS</a>
                <a href="#TBD">#porschepro</a>
                <a href="#TBD">#testdrive</a>
              </dd>
            </dl>
          </div>
          <dl class="article__info -share">
            <dt>この記事をシェアする</dt>
            <dd>
              <a class="-facebook" data-ebi-share="facebook" data-ebi-share-url="#TBD">
                <%- include(`${ejsRelativePath}modules/svg/icon-facebook.svg`) %>
              </a>
              <a class="-x" data-ebi-share="x" data-ebi-share-url="#TBD">
                <%- include(`${ejsRelativePath}modules/svg/icon-x.svg`) %>
              </a>
              <a class="-line" data-ebi-share="line" data-ebi-share-url="#TBD">
                <%- include(`${ejsRelativePath}modules/svg/icon-line.svg`) %>
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </header>
    <div class="article__contents">
      <div class="body">
        <h2>
          <span>911ヒエラルキーの中で</span><br>
          <span>孤高の存在はタルガ大見出しテキスト</span>
        </h2>
        <p>
          これまで色々な911は買ってきたが、タルガだけ買ったことがない。いつもタルガを買うけど、他のグレードには興味がない。911ヒエラルキーの中で孤高の存在はタルガ。
        </p>
        <div class="body__index">
          <div class="-title fontPanchang">
            INDEX
          </div>
          <ul class="-list">
            <li>
              <a href="#section1" data-ebi-scroller>自分好みを見つけることのできる理由</a>
            </li>
            <li>
              <a href="#section2" data-ebi-scroller>鮮やかだけれども濃い</a>
            </li>
            <li>
              <a href="#section3" data-ebi-scroller>久しぶりに991.2を駆る</a>
            </li>
            <li>
              <a href="#section4" data-ebi-scroller>スペック</a>
            </li>
            <li>
              <a href="#section5" data-ebi-scroller>写真を一覧で見る</a>
            </li>
          </ul>
        </div>
        <h3>
          自分好みを見つけることのできる理由<br>
          中見出しテキスト
        </h3>
        <p>
          911が名車である理由。それは何も最新が最良であるからではない。RRというユニークなパッケージをモノにしようと世代ごとに磨きをかけ、それぞれの世代に“ファン”が生まれるほど存在感があるからだ。だから、最新モデルが出るたびに少し前のモデル、たとえば今なら991、をしみじみ良いと思ったりできる。単純に最新が最良なのであれば、そんな思いに駆られることなどないはずだ。それこそ空冷など忘れてしまえるはずだろう。
        </p>
        <div class="body__img">
          <figure>
            <img src="/assets/img/_dummy/article-img-1.jpg" alt="">
            <figcaption>
              ニュル最速サルーンオンボード映像<br>
              キャプションテキストキャプションテキストキャプションテキスト
            </figcaption>
          </figure>
        </div>
        <div class="body__img">
          <figure>
            <img src="/assets/img/_dummy/article-img-1.jpg" alt="">
          </figure>
        </div>
        <p>
          もう一つ、911には世代ごとに“自分好み”を見つけることのできる特徴というか理由があった。それがモデルバリエーションの多さだ。スタンダードから役物まで、いろんな役者が揃っている。しかも近年、選択肢は増え続けている。世代ごとに魅力があり、世代ごとに種類が多いということは、その掛け算でもって“自分好み”を探す範囲となるというわけだ。というわけで、991.2×タルガ×4WDという組み合わせが今回のパートナー。997の時代からタルガを選ぶと四駆になるので厳密には必然だが、RRと4WDの違いは少なからず残っている。
        </p>
        <hr>
        <h4>
          ポルシェ 911 タルガとは？<br>
          小見出しダミーテキストダミーテキストダミーテキスト
        </h4>
        <p>
          タルガは、911にオープンモデルのラインナップが無かった時代に生まれたグレード。名前の由来は、イタリアのシチリア島で開催されていた公道レース、タルガ・フローリオです。<br>
          ボディは、Bピラーを固定にしてフロント乗車席頭上のパネルを取り外し可能としたもので、現行型は個性的なデザインのBピラーとパノラミックウインドウとされたリアガラスが特徴です。
        </p>
        <p class="body__note">
          <small>
            ※911タルガは現在3つのグレードがありますが、搭載されるエンジンはすべて3Lターボエンジン、駆動方式は4WDみのとなります。<br>
            ※記載のデーターはメーカー発表値（EU仕様）に基づくため、日本仕様車による国土交通省届出値と異なる場合があります。注釈テキスト注釈テキスト注釈テキスト注釈テキスト注釈テキスト注釈テキスト注釈テキスト注釈テキスト
          </small>
        </p>
        <div class="body__box">
          <em>ポルシェ 911とは？：</em>911は、ポルシェが1964年から販売しているスポーツカーです。前身となった356の後継車という位置づけのため、4人が乗車できるスポーツカーというコンセプトで開発されています。駆動方式は、伝統的にRRを採用。これも911のアイデンティティのひとつです。歴代、911というモデル名で呼ばれていますが、型式は901からスタートし、930、964、993、996、997と続き、2017年現在は991という型式になっています。引用テキスト
        </div>
        <hr>
        <blockquote>
          ポルシェが1964年から販売しているスポーツカーです。前身となった356の後継車という位置づけのため、4人が乗車できるスポーツカーというコンセプトで開発されています。駆動方式は、伝統的にRRを採用。これも911のアイデンティティのひとつです。引用テキスト2引用テキスト2引用テキスト2引用テキスト2引用テキスト2
        </blockquote>
        <div class="body__fullimg -full">
          <img src="/assets/img/_dummy/article-img-2.jpg" alt="">
        </div>
        <h3>
          鮮やかだけれども濃い
        </h3>
        <p>
          ターボエンジンとなってからのタルガ4。Sとの違いは主にエンジンスペックで、新車時の価格差は300万円もあったから、そこには歴然としたステータスの違いがあったわけだけれど、
          <em class="-em1">ボールドテキストボールドテキストボールドテキストボールドテキスト</em>、今となってはもはやどうでもいいこと。<a href="#TBD">リンクテキストリンクテキストリンクテキスト</a>、911としての次世代（992）への進化がその差を相対的に縮めてしまったからだ。むしろ気張ってないぶん、あえて乗る意味は非Sモデルにこそあった。
        </p>
        <p>
          鮮やかだけれども濃い目のブルーをまとったタルガ。<em class="-em2">アンダーライン強調テキストアンダーライン強調テキスト</em>、色の正式名はサファイアブルーメタリックという。足元はブラックで締められている。タルガブリッジの落ち着いたメタリックカラーとのコントラストが美しい、というかキマッている。
        </p>
        <hr class="-dashed">
        <ul>
          <li>年式：2016年式</li>
          <li>全長：4505mm</li>
          <li>全幅：1850mm</li>
          <li>全高：1295mm</li>
          <li>ホイールベース：2450mm</li>
          <li><a href="#TBD">リストテキストリストテキストリストテキスト</a></li>
          <li><a href="#TBD">リストテキスト2行<br>リストテキストリストテキストリストテキスト</a></li>
        </ul>
        <ol>
          <li>年式：2016年式</li>
          <li>全長：4505mm</li>
          <li><a href="#TBD">リストテキストリストテキストリストテキスト</a></li>
          <li><a href="#TBD">リストテキスト2行<br>リストテキストリストテキストリストテキスト</a></li>
        </ol>
        <div class="body__movie">
          <div class="-mov">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G_nDJNgqLZE?si=qcMLzxJrfcwt2j7m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="-caption">
            ニュル最速サルーンオンボード映像<br>
            キャプションテキストキャプションテキストキャプションテキスト
          </div>
        </div>
        <div class="body__columns -full">
          <div class="-inner">
            <div class="-column -c2 -imgright">
              <div class="-txt">
                <h3>鮮やかだけれども濃い</h3>
                <p>
                  ターボエンジンとなってからのタルガ4。Sとの違いは主にエンジンスペックで、新車時の価格差は300万円もあったから、そこには歴然としたステータスの違いがあったわけだけれど、今となってはもはやどうでもいいこと。911としての次世代（992）への進化がその差を相対的に縮めてしまったからだ。むしろ気張ってないぶん、あえて乗る意味は非Sモデルにこそあった。
                </p>
                <p>
                  鮮やかだけれども濃い目のブルーをまとったタルガ。色の正式名はサファイアブルーメタリックという。足元はブラックで締められている。タルガブリッジの落ち着いたメタリックカラーとのコントラストが美しい、というかキマッている。インテリアはブラックで、ブルーの差し色。エクステリアとのコンビネーションも悪くない。
                </p>
              </div>
              <div class="-img">
                <figure>
                  <img src="/assets/img/_dummy/article-img-3.jpg" alt="">
                  <figcaption>
                    ニュル最速サルーンオンボード映像<br>
                    キャプションテキストキャプションテキストキャプションテキスト
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="-column -c2 -imgleft">
              <div class="-img">
                <figure>
                  <img src="/assets/img/_dummy/article-img-4.jpg" alt="">
                  <figcaption>
                    ニュル最速サルーンオンボード映像<br>
                    キャプションテキストキャプションテキストキャプションテキスト
                  </figcaption>
                </figure>
              </div>
              <div class="-txt">
                <h3>久しぶりに991.2を駆る</h3>
                <p>
                  久しぶりに991.2を駆る。最新か、いっそ3世代以上も前のモデルなら乗る機会もあるけれど、一つ前（992.2がまだ輸入されていない）は意外とめぐってこない。しかもタルガ4。
                </p>
                <p>
                  このモデルを現役時に乗った経験はあるにはあるけれど、こうしてもう一度乗るまで思い出したことはなかった。992のバリエーションを試すことで今や精一杯なのだ。スタンダードエンジンがターボとなった初のモデル。そういう意味では歴史的ではあるけれど、マイナーチェンジでそれをやってくるあたり、さすがはポルシェ、狡猾だ。<br>
                  NAの前期がいい、という人もいる。確かにエンスージアスティックな目でみればそうかも知れない。けれども普段使いをメインに考えるなら、街中から高速までより扱いやすい、というか柔軟性の高いターボエンジンが良い。
                </p>
              </div>
            </div>
            <div class="-column -c3">
              <div class="-imgs">
                <figure>
                  <img src="/assets/img/_dummy/article-img-5.jpg" alt="">
                </figure>
                <figure>
                  <img src="/assets/img/_dummy/article-img-6.jpg" alt="">
                </figure>
                <figure>
                  <img src="/assets/img/_dummy/article-img-7.jpg" alt="">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="body__link">
          <article class="-ogp">
            <div class="-img">
              <img src="/assets/img/_dummy/article-img-8.jpg" alt="">
            </div>
            <div class="-txt">
              <h2>OGタイトルテキスト、ポルシェ911タルガ4（4WD/7AT）OGタイトルテキスト、ポルシェ911タルガ4（4WD/7AT）</h2>
              <p>descriptionテキスト、これまで色々な911は買ってきたが、タルガだけ買ったことがない。いつもタルガを買うけど、他のグレードには興味がない。911ヒエラルキーの中で孤高の存在はタルガ。descriptionテキスト、これまで色々な911は買ってきたが、タルガだけ買ったことがない。いつもタルガを買うけど、他のグレードには興味がない。911ヒエラルキーの中で孤高の存在はタルガ。</p>
            </div>
          </article>
        </div>
        <div class="body__dialogue">
          <div class="-block -left">
            <div class="-person">
              <img src="/assets/img/_dummy/article-person-1.jpg" alt="">
              <span>岡西さん</span>
            </div>
            <p>
              “響鳴”、という言葉を書きました。“響く”そして“鳴く”、です。「響鳴」はフィリップ社長の為に考えた造語です。 “empathy” という言葉を直訳すると、共感とか共鳴になりますが、人々はその言葉をうわべだけで使っているような印象を私はもっています。表層的ではない深い繋がりを印象づけてくれる言葉は何かを、考えた先に思いついたのが、この“響鳴”という言葉です。<br>
              共感する、とは人間同士の感じ方であり、共鳴とは動物の鳴き声や音の振動などが響き合うという意味があります。
            </p>
          </div>
          <div class="-block -right">
            <div class="-person">
              <img src="/assets/img/_dummy/article-person-2.jpg" alt="">
              <span>フィリップ社長</span>
            </div>
            <p>
              ありがとうございます、素晴らしい所作を感じました。もちろん拝見している時点では何を書いているのかはわからなかったのですが、すっかり流れるような筆の動きに魅了されていました。ただ筆が走っているだけではなく、停止したり、跳ね上がったり、さまざまなアクセントがありながら次の線を書いていく。
            </p>
          </div>
        </div>
        <div class="body__profile">
          <div class="-txt">
            <div class="-title">
              西川淳 / Nishikawa Jun プロフィール兼用タイトル
            </div>
            <p>
              マッチボックスを握りしめた4歳の時にボクの人生は決まったようなものだ。以来、ミニカー、プラモ、ラジコン、スーパーカーブームを経て実車へと至った。とはいえ「車いのち」じゃない。車好きならボクより凄い人がいっぱいいらっしゃる。ボクはそんな車好きが好きなのだ。だから特定のモデルについて書くときには、新車だろうが中古車だろうが、車好きの目線をできるだけ大事にしたい。<a href="#TBD">詳しくみるリンクテキスト</a>
            </p>
          </div>
          <div class="-img">
            <img src="/assets/img/_dummy/article-img-9.jpg" alt="">
          </div>
        </div>
        <div class="body__button">
          <a href="#TBD">
            <span>ボタンテキスト</span>
          </a>
        </div>
        <div class="body__comment">
          <div class="-block -left">
            <div class="-name"><em>石川さん</em></div>
            <p>
              ターボエンジンとなってからのタルガ4。Sとの違いは主にエンジンスペックで、新車時の価格差は300万円もあったから、そこには歴然としたステータスの違いがあったわけだけれど、今となってはもはやどうでもいいこと。911としての次世代（992）への進化がその差を相対的に縮めてしまったからだ。むしろ気張ってないぶん、あえて乗る意味は非Sモデルにこそあった。
            </p>
          </div>
          <div class="-block -right">
            <div class="-name"><em>佐々木ヨハネスさん</em></div>
            <p>
              ターボエンジンとなってからのタルガ4。Sとの違いは主にエンジンスペックで、新車時の価格差は300万円もあったから、そこには歴然としたステータスの違いがあったわけだけれど、今となってはもはやどうでもいいこと。911としての次世代（992）への進化がその差を相対的に縮めてしまったからだ。むしろ気張ってないぶん、あえて乗る意味は非Sモデルにこそあった。
            </p>
          </div>
        </div>
        <div class="body__credit">
          <div class="-title fontPanchang">Credit</div>
          <div class="-body">
            Editor : 苗字 名前 / Writer : 苗字 名前 / Photographer : 苗字 名前<br>
            Photographer : 苗字 名前
          </div>
        </div>
      </div>
    </div>
    <aside class="lineFriends">
      <div class="lineFriends__inner">
        <div class="lineFriends__contents">
          <h2 class="lineFriends__title">
            EBI DIGITAL STUDIO<br>
            LINE 公式アカウント友だち募集中！
          </h2>
          <ol>
            <li>
              <span class="-num fontPanchang">01.</span>
              <p>
                最新記事やEBI GROUP実施のイベント情報など最速でご案内<br>
                <small>※グループ拠点すべてのイベント情報が通知されるわけではありません</small>
              </p>
            </li>
            <li>
              <span class="-num fontPanchang">02.</span>
              <p>
                来店予約や試乗体験の予約申し込みが可能<br>
                <small>※来店予約はハブストアであるポルシェスタジオ銀座のみとなります</small>
              </p>
            </li>
            <li>
              <span class="-num fontPanchang">03.</span>
              <p>
                ポルシェに関するご質問やお困りごとをお気軽にお問い合わせください<br>
                <small>来店前のご質問や、ちょっとした気になることまで、LINEで簡単にお問い合わせいただけます。</small>
              </p>
            </li>
          </ol>
          <div class="ebiButton -full -line">
            <a href="#TBD">
              <span>公式LINEを登録する</span>
            </a>
          </div>
        </div>
        <div class="lineFriends__img">
          <img src="/assets/img/article-line-img.png" alt="">
        </div>
      </div>
    </aside>
    <div class="article__share">
      <dl class="article__info -share">
        <dt>この記事をシェアする</dt>
        <dd>
          <a class="-facebook" data-ebi-share="facebook" data-ebi-share-url="#TBD">
            <%- include(`${ejsRelativePath}modules/svg/icon-facebook.svg`) %>
          </a>
          <a class="-x" data-ebi-share="x" data-ebi-share-url="#TBD">
            <%- include(`${ejsRelativePath}modules/svg/icon-x.svg`) %>
          </a>
          <a class="-line" data-ebi-share="line" data-ebi-share-url="#TBD">
            <%- include(`${ejsRelativePath}modules/svg/icon-line.svg`) %>
          </a>
        </dd>
      </dl>
    </div>

    <%- include(`${ejsRelativePath}modules/m-related.ejs`) %>

    <%- include(`${ejsRelativePath}modules/m-categories.ejs`) %>

    <%- include(`${ejsRelativePath}modules/m-love.ejs`) %>
  </article>
<%_ }; -%>
<%- include(`${ejsRelativePath}layouts/default`, { meta, content }) %>